:root {
    font-family: sans-serif;
}

@media (orientation: landscape) {
    .color {
        height: 10vh;
        width: 10vh;
    }
}

@media (orientation: portrait) {
    .color {
        height: 20vw;
        width: 20vw;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background: white;
        color: black;
    }

    #timer-bar {
        background: black;
    }

    .color {
        background: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    #timer-bar {
        background: white;
    }

    .color {
        background: white;
    }
}

@media (pointer: coarse) {
    .tap-or-click {
        &::before {
            content: "タップ";
        }
    }
}

@media (pointer: fine) {
    .tap-or-click {
        &::before {
            content: "クリック";
        }
    }
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.color-group {
    display: flex;
    justify-content: center;
}

.color {
    margin: 5px;
}

#timer-bar {
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: ease width 100ms;
}

#color-area {
    display: grid;
}

#answering-color {
    height: 1.5em;
    width: 1.5em;
}